{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}

<section class="container second-container p-0">
    <div class="pt-4">
    <p class="lordname mx-auto text-center">About temple</p>
    <p class="templediscription">
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
      </p>
      <p class="templediscription">
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
      </p>
      <p class="templediscription">
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
      </p>
      <p class="templediscription">
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
        Temple is located in the holy city of the Sikhs, Amritsar. The
        Golden temple is famous for its full golden dome, it is one of the
        most sacred pilgrim spots for Sikhs. The Mandir is built on a
        67-ft square of marble and is a two storied structure.
      </p>
    </div>
</section>


{% include 'siteflow/footer.html' %}
{% endblock %}  