{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}

<section class="container second-container p-0">
    <div class="mt-4">
      <div class="mx-auto text-center" style="padding-top: 20px">
        <p class="lordname">Festival 1</p>
      </div>
      <div class="row pt-4">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-4">
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <div class="mt-1">
            <a href=""><p class="viewmore">View more</p></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
         
            
              <div>
                <img
                  src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                  alt=""
                  class="about-img-1"
                  />
              </div>
      </div>

      <div class="mx-auto text-center" style="padding-top: 20px">
        <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
        <p class="lordname">Festival 2</p>
      </div>
      <div class="row pt-4">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-4">
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <div class="mt-1">
            <a href=""><p class="viewmore">View more</p></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">           
              <div>
                <img
                  src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                  alt=""
                  class="about-img-1"
                  />
              </div>
      </div>

      <div class="mx-auto text-center" style="padding-top: 20px">
        <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
        <p class="lordname">Festival 3</p>
      </div>
      <div class="row pt-4">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-4">
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <p class="templediscription">
            Temple is located in the holy city of the Sikhs, Amritsar. The
            Golden temple is famous for its full golden dome, it is one of the
            most sacred pilgrim spots for Sikhs. The Mandir is built on a
            67-ft square of marble and is a two storied structure.
          </p>
          <div class="mt-1">
            <a href=""><p class="viewmore">View more</p></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">           
              <div>
                <img
                  src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                  alt=""
                  class="about-img-1"
                  />
              </div>
      </div>
    </div>
  </section>


{% include 'siteflow/footer.html' %}
{% endblock %}  