<section class="container p-0">
    <footer class="foot mt-4">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 ps-4">
          <h5 class="footer-content">About us</h5>
          <p class="aboutus-review">
            you need to be sure there isn`t anything embarrsing hidden in the
            middle of the text,
          </p>
          <div>
            <i class="fal fa-phone-volume"></i><span class="aboutus-content
              px-2">63463674056</span>
          </div>
          <div>
            <i class="fal fa-phone-alt"></i><span class="aboutus-content
              px-2">kkasx@gmail.com</span>
          </div>
          <div>
            <i class="fal fa-phone-alt"></i><span class="aboutus-content
              px-2">Address</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 ps-4">
          <h5 class="footer-content">Information</h5>
          <p class="informationcontact">Pooja</p>
          <p class="informationcontact">Service</p>
          <p class="informationcontact">Temple</p>
          <p class="informationcontact">Donation</p>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-4 col-6 ps-4">
          <h5 class="footer-content">Others</h5>
          <p class="informationcontact">Shop</p>
          <p class="informationcontact">Checkout</p>
          <p class="informationcontact">Contact us</p>
          <p class="informationcontact">Blog</p>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-12 col-12 ps-4">
          <h5 class="footer-content">recent festivals</h5>
          <div class="d-flex">
            <img
              src="../Assets/img/Image 12.png"
              alt=""
              class="img-footer"
              width="60"
              height="50"
              />
            <div class="ps-2">
              <i class="fal fa-phone-alt mt-3 px-2"></i><span class="date
                mt-2">Mar 02 2023</span>
              <p class="descript">
                Temple companies are belong to transparent with their work
              </p>
            </div>
          </div>
          <div class="d-flex mt-2">
            <img
              src="../Assets/img/Image 12.png"
              alt=""
              class="img-footer"
              width="60"
              height="50"
              />
            <div class="ps-2">
              <i class="fal fa-phone-alt mt-3 px-2"></i><span class="date
                mt-2">Mar 02 2023</span>
              <p class="descript">
                Temple companies are belong to transparent with their work
              </p>
            </div>
          </div>
          <div class="d-flex mt-2 mb-2">
            <img
              src="../Assets/img/Image 12.png"
              alt=""
              class="img-footer"
              width="60"
              height="50"
              />
            <div class="ps-2">
              <i class="fal fa-phone-alt mt-3 px-2"></i><span class="date
                mt-2">Mar 02 2023</span>
              <p class="descript">
                Temple companies are belong to transparent with their work
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between copyright">
        <div class="mt-3">
          <span class="px-2"> @Copyright temple-2023</span>
        </div>
        <div>
          <img
            src="../Assets/img/Logoimage.png.png"
            alt="Logo-image"
            class="Logo-image mt-2"
            id="logo-img"
            width="40px"
            height="40px"
            />
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div><i class="fab fa-facebook icons fa-lg px-2"></i></div>
          <div><i class="fas fa-envelope icons fa-lg px-2"></i></div>
          <div><i class="fab fa-youtube icons fa-lg px-2"></i></div>
        </div>
      </div>
    </footer>
  </section>



