{% load static %}
<section class="container-fluid p-0">
    <div class="topnav d-flex justify-content-between fixed-top">
      <div>
        <img
          src="../Assets/img/Rectangle 9.png"
          class="img-fluid"
          alt=""
          width="160"
          height="80"
          />
      </div>
      <div
        class="container-fluid d-flex justify-content-center align-item-center
        mt-3 p-0">
        <!-- <img src="../Assets/img/Logoimage.png.png" alt="Logo-image"
            class="Logo-image img-fluid" width="70px" height="80px"/> -->
        <h1 class="logo px-1">Hare Krishna Temple</h1>
      </div>
      <div>
        <img
          src="../Assets/img/Rectangle 9.png"
          class="img-fluid"
          alt=""
          width="160"
          height="80"
          />
      </div>
    </div>
    <div class="bottomnav">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top fixed-top-2">
        <div class="container-fluid p-0">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle
            navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Temple Calender</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  About temple
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Sevas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./Nityasevapage.html">Nitya Seva</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Maha Seva</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">E-hundi</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>