{% load static %}
<section class="container-fluid p-0">
    <div class="topnav d-flex justify-content-around fixed-top">
      <div>
        <img
          src="{% static '/siteflow/img/Rectangle 9.png'%}"
          class="img-fluid"
          alt=""
          width="160"
          height="80"
          />
      </div>
      <div
        class="container-fluid d-flex justify-content-center align-item-center
        mt-2 p-0">
        <h1 class="logo px-1">Badavide Vishwanatha Temple</h1>
      </div>
      <div>
        <img
          src="{% static '/siteflow/img/Rectangle 9.png'%}"
          class="img-fluid"
          alt=""
          width="160"
          height="80"
          />
      </div>
    </div>
    <div class="bottomnav">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top fixed-top-2">
        <div class="container p-0">
          <button
            class="navbar-toggler p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle
            navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100 my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'calender' %}">Calender</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'about-temple'%}">About Temple</a></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'festivals' %}">Festivals</a>
                  </li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Sevas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'sevas' %}">Nitya Seva</a></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'sevas' %}">Maha Seva</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'e-hundi'%}">E-hundi</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.is_authenticated %}
                  <li>
                    <a class="dropdown-item" href="{% url 'dashboard'%}">Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
                  </li>                
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'login'%}">Login</a></li>
                  {% endif %}
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>