{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}
    

    <section class="container p-0 mt-5">
      <div class="second-container">
        <div class="card video-card bg-dark text-white border-0">
          <video autoplay loop>
            <source
              src="{% static '/siteflow/video/istockphoto-1165247229-640_adpp_is.mp4'%}"
              type="video/mp4"
              class="loopvideo"
              />
          </video>
          <div class="card-img-overlay header-overlay">
            <h5 class="card-title title-header">Welcome to our temple...</h5>
            <p class="card-text text-header">
              The temple of our purest thoughts is silence. ...
            </p>
            <p class="card-text text-header">
              You are never lost when you can see the temple. ...
            </p>
            <a href=""><p class="float-start readmore">Read more</p></a>
          </div>
        </div>
      </div>
    </section>

    <section class="container p-0 mt-4">
      <div class="main-1 pt-4">
        <div class="mx-auto text-center" style="padding-top: 20px">
          <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
          <p class="lordname">Lord Shiva</p>
        </div>
        <div class="row align-items-center pt-4">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-center">
            <div class="owl-slider">
              <div class="owl-carousel" id="simple-carousel">
                <div class="items" style="text-align: -webkit-center">
                  <div class="lordname-card">
                    <img
                      src="{% static '/siteflow/img/images.jpg'%}"
                      alt=""
                      class="lordname-img"
                      />
                  </div>
                </div>
                <div class="items" style="text-align: -webkit-center">
                  <div class="lordname-card">
                    <img
                      src="{% static '/siteflow/img/images.jpg'%}"
                      alt=""
                      class="lordname-img"
                      />
                  </div>
                </div>
                <div class="items" style="text-align: -webkit-center">
                  <div class="lordname-card">
                    <img
                      src="{% static '/siteflow/img/images.jpg'%}"
                      alt=""
                      class="lordname-img"
                      />
                  </div>
                </div>
                <div class="items" style="text-align: -webkit-center">
                  <div class="lordname-card">
                    <img
                      src="{% static '/siteflow/img/images.jpg'%}"
                      alt=""
                      class="lordname-img"
                      />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <h3 class="name-header ms-2">Navaratna Kavacha Alankara.</h3>
            <p class="description ms-2">
              He is worshipped as the eighth avatar of Vishnu and also as the
              Supreme god in his own right. He is the god of protection,
              compassion, tenderness, and love; and is one of the most popular
              and widely revered among Indian divinities.
            </p>
            <p class="description ms-2">
              He is worshipped as the eighth avatar of Vishnu and also as the
              Supreme god in his own right. He is the god of protection,
              compassion, tenderness, and love; and is one of the most popular
              and widely revered among Indian divinities.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container p-0">
      <div class="mt-4">
        <div class="mx-auto text-center" style="padding-top: 20px">
          <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
          <p class="lordname">About temple</p>
        </div>
        <div class="row pt-4">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 p-4">
            <p class="templediscription">
              Temple is located in the holy city of the Sikhs, Amritsar. The
              Golden temple is famous for its full golden dome, it is one of the
              most sacred pilgrim spots for Sikhs. The Mandir is built on a
              67-ft square of marble and is a two storied structure.
            </p>
            <p class="templediscription">
              Temple is located in the holy city of the Sikhs, Amritsar. The
              Golden temple is famous for its full golden dome, it is one of the
              most sacred pilgrim spots for Sikhs. The Mandir is built on a
              67-ft square of marble and is a two storied structure.
            </p>
            <div class="mt-1">
              <a href=""><p class="viewmore">View more</p></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card rotatecard">
            <div class="row flipcard">
              <div class="col-lg-6">
                <div>
                  <img
                    src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                    alt=""
                    class="about-img-1"
                    />
                </div>
                <div>
                  <img
                    src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                    alt=""
                    class="about-img-1"
                    />
                </div>
              </div>
              <div class="col-lg-6" >
                <div>
                  <img
                    src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                    alt=""
                    class="about-img-1"
                    />
                </div>
                <div>
                  <img
                    src="{% static '/siteflow/img/stone-gee7f0fdbb_1920 1.png'%}"
                    alt=""
                    class="about-img-1"
                    />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container darshan p-0">
      <div class="Darshana text-center pt-5">
        <p class="darshantimings">Darshana Timings</p>
        <p class="dashantime">8am-10am , 5pm-7pm</p>
      </div>
    </section>

    <section class="container p-0">
      <div class="mt-2">
        <div class="mx-auto text-center" style="padding-top: 20px">
          <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
          <p class="lordname">Puja-Sevas</p>
        </div>
        <div class="owl-slider pt-4">
          <div id="venue-carousel" class="owl-carousel">
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="text-align: -webkit-center">
              <div class="card venue-slider">
                <img
                  src="{% static '/siteflow/img/Rectangle 15.png'%}"
                  class="card-images border-0 p-2"
                  alt="..."
                  />
                <div class="card-body">
                  <h5 class="card-title venue-title mx-auto">GOPUJA</h5>
                  <p class="discript">
                    The worshiping and praying of cows is called gowpooja. In
                    Indian culture, cows are considered holy and are given much
                    respect by often calling them Gowmaata, meaning cow, the
                    mother.
                  </p>
                  <div class="text-center">
                    <button class="btn bookbutton text-center">Book</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container p-0">
      <div class="mt-3">
        <div class="mx-auto text-center" style="padding-top: 20px">
          <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
          <p class="lordname mt-2">Festivals</p>
        </div>
        <div class="festivals mt-5">
          <div class="row pt-5">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="owl-slider">
                    <div class="owl-carousel" id="festival-carousel">
                      <div class="items" style="text-align: -webkit-center">
                        <div class="festival-card">
                          <img
                            src="{% static '/siteflow/img/Group 26 1.png'%}"
                            alt=""
                            class="festival-img"
                            />
                        </div>
                      </div>
                      <div class="items" style="text-align: -webkit-center">
                        <div class="festival-card">
                          <img
                            src="{% static '/siteflow/img/Group 26 1.png'%}"
                            alt=""
                            class="festival-img"
                            />
                        </div>
                      </div>
                      <div class="items" style="text-align: -webkit-center">
                        <div class="festival-card">
                          <img
                            src="{% static '/siteflow/img/Group 26 1.png'%}"
                            alt=""
                            class="festival-img"
                            />
                        </div>
                      </div>
                      <div class="items" style="text-align: -webkit-center">
                        <div class="festival-card">
                          <img
                            src="{% static '/siteflow/img/Group 26 1.png'%}"
                            alt=""
                            class="festival-img"
                            />
                        </div>
                      </div>
                      <div class="items" style="text-align: -webkit-center">
                        <div class="festival-card">
                          <img
                            src="{% static '/siteflow/img/Group 26 1.png'%}"
                            alt=""
                            class="festival-img"
                            />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 ps-3">
              <!-- <h4 class="festival-name">Navaratna Kavacha Alankara.</h4> -->
              <h2 class="f-head">Shree Krishna Janmastami</h2>
              <p class="descriptions">
                celebrate Janmashtami by fasting, singing, praying together,
                preparing and sharing special food, night vigils, and visiting
                Krishna or Vishnu temples.The places of Mathura and Vrindavan
                are visited by pilgrims. Major Krishna temples organize
                recitation of Bhagavata Purana and Bhagavad Gita.
              </p>
              <a href=""><p class="float-start viewmore">Read more</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container p-0">
      <div class="mt-2">
        <div class="mx-auto text-center" style="padding-top: 30px">
          <img
            src="{% static '/siteflow/img/Group 7.png'%}"
            alt=""
            class="img-fluid"
            width="930px"
            height="52px"
            />
          <p class="lordname">Make a donation</p>
        </div>
        <div class="donation make">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="imagee text-center ms-5">
                <img
                  src="{% static '/siteflow/img/Ellipse 5.png'%}"
                  alt=""
                  width="203"
                  height="202"
                  />
              </div>
            </div>
            <div class="donation-page col-lg-8 col-md-8 col-sm-12 col-12 ps-4">
              <h6 class="donation-header mt-4">
                You can make Donation as a Registered User or as a Guest User.
              </h6>
              <p class="donation-description mt-4">
                If You proceed as a Registered User, You will be able to get all
                notifications regarding events in the Temple. And able to login
                for Puja/Path/Arti/Bhog booking as well.
              </p>
              <input
                type="button"
                value="Donate now"
                class="Donate mt-2 mb-4"
                />
            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'siteflow/footer.html' %}
{% endblock %}  