{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}

    

    <section class="container second-container p-0">
      <div class="pt-4 ">
        {% if messages  %}
        {%for message in messages%}
        
    <div class="alert alert-{% if message.tags == "success"%}success {% else %}warning {%endif%} mt-2 pt-2" role="alert">
        {{message}}
       </div>
        {%endfor%}
        {%endif%} 
        <h1 class="pageheader ms-2">Puja is offering to God, prathana is
          demanding from God....</h1>
        <p class="pageheadertxt text-center ms-2 mt-4">Puja, also spelled pooja or poojah,
          in Hinduism, ceremonial worship, ranging from brief daily rites in the
          home to elaborate temple rituals. The word puja is derived from the
          Dravidian pu (“flower”). In its simplest form, puja usually consists
          of making an offering of flowers or fruit to an image of a god.</p>
      </div>
    </section>

    <section class="container mx-auto p-0 m-0 mt-4">
      <div class="mx-auto ">
      <ul class="nav nav-pills align-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active tabs " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Nitya Seva</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tabs" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Maha Seva</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active mt-2" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          {% for n in n %}
          <div class="card  nityasevacard border-0 mt-lg-4">
            <div class="card-body align-items-center">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-4">
                    <Span class="pujaname">{{n.seva_name}}</Span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-4">
                    <Span class="pujaprice">&#8377 {{n.amount}}</Span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-1">
                    <a href="{% url 'sevaDetails'  n.id %}" ><input type="button" class="Book" value="Book"/></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
        
        
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          {% for m in m %}
          <div class="card  nityasevacard border-0 mt-lg-4">
            <div class="card-body align-items-center">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-4">
                    <Span class="pujaname">{{m.seva_name}}</Span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-4">
                    <Span class="pujaprice">&#8377 {{m.amount}}</Span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                  <div class="mt-1">
                    <a href="{% url 'sevaDetails' m.id %}" ><input type="button" class="Book" value="Book"/></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    </section>

    {% include 'siteflow/footer.html' %}

    {% endblock %}