{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}

    

    <section class="container second-container p-0">
      <div class="text-center pt-4 ms-2">
        <h2 class="pageheader text">
          To awaken the god or goddess and symbolize the beginning of the
          worship.
        </h2>
      </div>
      <div class="ms-3">
        <h5 class="typeofpuja">{{Seva.seva_name}}</h5>
        <p class="typeofpuja-description ms-2">
         {{Seva.seva_description}}
        </p>
      </div>
      <!-- <div class="ms-3">
        <h5 class="importance">Importance</h5>
        <p class="importance-text ms-2">
          Puja (Sanskrit: पूजा, romanized: pūjā) is a worship ritual performed
          by Hindus, Buddhists and Jains to offer homage and prayer to one or
          more deities, to host and honora guest, or to spiritually celebrate an
          event. It honor or celebrate the presence of special guests, or their
          memories after they die.
        </p>
        <p class="importance-text ms-2 mt-2">
          Puja (Sanskrit: पूजा, romanized: pūjā) is a worship ritual performed
          by Hindus, Buddhists and Jains to offer homage and prayer to one or
          more deities, to host and honora guest, or to spiritually celebrate an
          event. It honor or celebrate the presence of special guests, or their
          memories after they die.
        </p>
      </div> -->
    </section>
    <div class="pt-4 text-center">
      <span class="booking-information">Booking information</span>
    </div>
    <section class="container p-0">
      <div class="card border-0">
        <div class="card-body">
          <form method="post" id="registerform" action="javascript:void(0);">
            {% csrf_token %}
            <input id="idd" name="idd" value="{{Seva.id}}" hidden>
            <input id="action" name="action" value="request" hidden>
            <div class="row">
              <div class="col-6">
                <div class="input-group mb-3">
                  <input class="form-control" placeholder="Name" class="textbox-n" type="text"        
                  id="name" name="name" required>
                </div>
              </div>
              <div class="col-6">
                <input onfocus="(this.type='date')" onblur="(this.type='text')"  type="text" placeholder="Date"
                  class="form-control" name="date"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="input-group mb-3">
                  <input class="form-control" placeholder="nakshatra"
                  class="textbox-n" type="text" name="nakshatra">
                </div>
              </div>
              <div class="col-6">
                <input
                  type="text"
                  placeholder="Address"
                  name="address"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input
                  type="number"
                  placeholder="Pincode"
                  name="pincode"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="mt-3 pt-4 pl-2 ml-2"><h3>Amount : {{Seva.amount}} Rs</h3></div>
            <div class="pt-4">
              <a href="#"
                ><button type="button submit" class="btn  Booknow">
                  Book Now
                </button></a>
                
            </div>
          </form>
          
        </div>
      </div>
    </section>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      $('#registerform').submit(function (event) {
        event.preventDefault(); 
        var formData = $(this).serialize();
        $.ajax({
          type: 'POST',
           data: formData,
           success: function(response){
            
            if (response["status"]){
              var options = {
                key: response["razorpay_key"],
                amount: response["amount"], 
                currency: "INR",
                //name: "{{order.name}}",
                description: "Test Transaction",
                //image: "https://example.com/your_logo",
                order_id: response["order_id"],
                callback_url: response["callback_url"],
                redirect: true,
                prefill: {
                    "name": response["name"],
                    
                },
                notes: {
                    "address": response["address"]+" "+response["pincode"]
                },
                theme: {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            }
           }
        })

      })
  $(".rzp-button").click(function(){

  alert()
      var options = {
        key: "{{razorpay_key}}",
        amount: "{{order.amount}}", 
        currency: "INR",
        name: "{{order.name}}",
        description: "Test Transaction",
        image: "https://example.com/your_logo",
        order_id: "{{order.provider_order_id}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  })
</script>

    {% include 'siteflow/footer.html' %}

    {% endblock %}
