{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}

    

    <section class="container second-container p-0 pt-4">
      <div class="mx-auto ">
        <ul class="nav nav-pills align-content-center" id="pills-tab"
          role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active tabs " id="pills-home-tab"
              data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
              role="tab" aria-controls="pills-home" aria-selected="true">Bookings</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link tabs" id="pills-profile-tab"
              data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">Donation</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link tabs" id="pills-contact-tab"
              data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact"
              aria-selected="false">Profile</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active mt-2" id="pills-home"
            role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="conatiner p-0 mt-4">
              {% if messages  %}
              {%for message in messages%}
              
          <div class="alert alert-{% if message.tags == "success"%}success {% else %}warning {%endif%} mt-2 pt-2" role="alert">
              {{message}}
             </div>
              {%endfor%}
              {%endif%} 
              <table class="table table-borderless text-center"
                style="overflow-x:auto;">
                <thead>
                  <tr class="table-header align-content-center">
                    <th scope="col">SL.NO</th>
                    <th scope="col">Booking Id</th>
                    <th scope="col">Seva</th>
                    <th scope="col">Price</th>
                    <th scope="col">Booking date</th>
                    <th scope="col">Seva Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment</th>
                  </tr>
                </thead>
                <tbody>
                  {% for b in bookings %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    {%if b.booking_id%}
                    <th scope="row">{{b.booking_id}}</th>
                    {%else%}
                    <th scope="row">-</th>
                    {%endif%}
                    <td>{{b.seva.seva_name}}</td>
                    <td>&#8377 {{b.seva.amount}}</td>
                    <td>{{b.created}}</td>
                    <td>{{b.date}}</td>
                    <td>{{b.status}}</td>
                    {%if b.payment%}
                    <td class="alert alert-success">Paid</td>
                    {%else%}
                    <td class="alert alert-error">Not Paid</td>
                    {%endif%}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        


        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
          aria-labelledby="pills-profile-tab">

          <div class="conatiner p-0 mt-4">
            <table class="table table-borderless text-center"
              style="overflow-x:auto;">
              <thead>
                <tr class="table-header align-content-center">
                  <th scope="col">SL.NO</th>
                  <th scope="col">Name of donation</th>
                  <th scope="col">Donation date</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td><h3>No donations yet</h3></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
          aria-labelledby="pills-contact-tab">
          <div class="card booking-card mx-auto">
            <div class="card-body booikg-card-body">
              <div>
                <center class="page-head">Personal information</center>
                <center><img src="{% static '/siteflow/img/Image 12.png'%}"
                    alt="profile-image" width="121" height="121"
                    class="rounded-pill mt-4"></center>
                    <center class="">Name : {{user.name}}</center>
                    <center class="">Email : {{user.email}}</center>
                    <center class="">Phone : {{user.phone_no}}</center>
                    <center class="">Address : {{user.address}}</center>
                    <center class="">Pincode : {{user.pincode}}</center>
                    <center><a href="{% url 'logout'%}"><button type="button"  class="btn btn-primary">Logout</button></a></center>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>

  {% include 'siteflow/footer.html' %}

   {% endblock %}
