{%extends 'siteflow/index.html'%}
{% load static %}
{%block title%}Temple{%endblock%}
{%block content %}
{%include 'siteflow/header.html'%}
        <section class="login-section">
            <div class="container m-0 p-0 mx-auto">
                <div class="row no-gutters shadow-lg">
                    <div class="col-md-5 p-1 m-0 d-none d-md-block ">
                        <img src="{% static '/siteflow/img/Mask Group 3.png'%}" class="w-100 h-100 Login-img">
                    </div>
                    <div class="col-md-7 bg-white p-5 mt-lg-5 mt-md-2 mt-sm-2
                        mt-0">
                        <div class="section-heading">
                            <h2>Forgot Password</h2>
                            <span>Enter your email and verify to set new password.</span>
                        </div>
                        <div class="alert alert-success" id="alert" role="alert" hidden>
        
                        </div>
                        <div class="alert message" role="alert" hidden>
        
                        </div>
                        <form id="registerform" action="javascript:void(0);">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <div class="row">
                                        <div class="col-10">
                                            <fieldset>
                                                <input class="form-control" name="email" type="email" id="email" placeholder="Your email" required>
                                            </fieldset>
                                        </div>
                                        <div class="col-2">
                                            <fieldset>
                                                <button style="width:100%!important;" type="button" id="form-submit"
                                                    class="main-dark-button verify-btn sign-in glow-on-hover">Send</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3">
                                    <div class="row otp-row" hidden>
                                        <div class="col-10">
                                            <fieldset>
                                                <input class="form-control" name="otp" type="number" id="otp" placeholder="OTP" required>
                                            </fieldset>
                                        </div>
                                        <div class="col-2">
                                            <fieldset>
                                                <button style="width:100%!important;" type="button" id="form-submit"
                                                    class="main-dark-button verify-btn1 sign-in glow-on-hover">Verify</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 mb-3">
                                    <fieldset>
                                        <input class="form-control" name="password" type="password" id="password" placeholder="New Password" required
                                            hidden>
                                    </fieldset>
                                </div>
                                <div class="col-lg-10 mb-3">
                                    <fieldset>
                                        <input class="form-control" name="cpassword" type="password" id="cpassword" placeholder="Re-enter Password"
                                            required hidden>
                                    </fieldset>
                                </div>
                                <input name="action" type="action" id="action" value="final" placeholder="OTP" hidden required>
        
                                <div class="col-lg-12 mb-3">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-dark-button lst-btn sign-in glow-on-hover"
                                            hidden>Submit</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %} <script src="{%static '/siteflow/js/jquery-3.6.0.min.js'%}"></script>
        <script src="{%static '/siteflow/js/validate.min.js'%}" ></script> {% endcomment %}
        {% comment %} <script>
        
            $(".sendotp").click(function(){
              
                var email=$("#email").val()
                if (email===""){
                    $('#email').css({
                        'border' : '1px solid red',
                    });
                }
                else{
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data: {
                        
                        "email":email,
                        "action":"sendotp",
                        'csrfmiddlewaretoken':"{{ csrf_token }}",
                        },
                        success: function(resp){ 
                            if (resp["message"]){
                                $(".verifyotp").prop("hidden",false)
                                $("#otp").prop("hidden",false)
                                $("#email").prop("hidden",true)
                                $(".sendotp").prop("hidden",true)
                                $('#email').css({
                                    'border' : '1px solid black',
                                });
            
                            }
                            else{
                              //  $('#email').css({
                              //      'border' : '1px solid black',
                              //  });
                                alert(resp["res"])
                            }
                        }
                    });
                }
            })
        
        
            $(".verifyotp").click(function(){
                var email=$("#email").val()
                var otp=$("#otp").val()
        
                if (otp===""){
                    $('#otp').css({
                        'border' : '1px solid red',
                    });
                }
                else{
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data: {
                        "otp":otp,
                        "email":email,
                        "action":"verifyotp",
                        'csrfmiddlewaretoken':"{{ csrf_token }}",
                        },
                        success: function(resp){ 
                            if (resp["message"]){
                                $(".verifyotp").prop("hidden",true)
                                $("#otp").prop("hidden",true)
                                $("#password1").prop("hidden",false)
                                $("#password2").prop("hidden",false)
                                $(".changepassword").prop("hidden",false)
                                $('#otpfield').css({
                                    'border' : '1px solid black',
                                });
                          alert(resp["res"])
                            }
                            else{
                            alert(resp["res"])
                            }
                        }
                    });
                }
             
            })

            $(".changepassword").click(function(){
                var passowrd1=$("#password1").val()
                var password2=$("password2").val()
                if (password2===""){
                    $('#password2').css({
                        'border' : '1px solid red',
                    });
            }
            else{
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{
                        "password1":password1,
                        "password2":password2,
                        "action":"changepassword",
                        'csrfmiddlewaretoken':"{{ csrf_token }}",
                    },
                    success: function(resp){
                        if (resp["message"]){
                            window.location.replace("{% url 'login' %}")
                        }                        
                    },
                    error: function(){
                        alert("form submission failed")
                    }

                })
            }
        })
        
            // $(document).ready(function(){
            //     $('#forgotform').submit(function(e){
            //         e.preventDefault();
            //         $.ajax({
            //             //url: "get_data.php",
            //             type: "POST",
            //             data: $(this).serialize(),
            //             success: function(resp){
            //                 if(resp["message"]){
                               
            //                         window.location.replace( "{% url 'login' %}")
        
                                
            //                 }
                        
            //             },
            //             error: function(){
            //                 alert("Form submission failed!");
            //             }
            //         });
            //     });
            // });
        </script>     {% endcomment %}
        <script>
            jQuery.validator.addMethod("name_regex", function (value, element) {
                return this.optional(element) || /^[a-zA-z\.\- _]{1,30}$/i.test(value);
            }, "Enter valid name");
            jQuery.validator.addMethod("lastname_regex", function (value, element) {
                return this.optional(element) || /^[a-zA-z\.\- _]{1,30}$/i.test(value);
            }, "Enter valid name");
            jQuery.validator.addMethod("password_regex", function (value, element) {
                return this.optional(element) || /^[a-z0-9!@#$%^&*()_\.\-_]{8,30}$/i.test(value);
            }, "Password should be minimum 8 characters.");
            jQuery.validator.addMethod("phone_regex", function (value, element) {
                return this.optional(element) || /^[0-9\.\-_]{10,30}$/i.test(value);
            }, "Enter valid phone number");
            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param)
            }, 'File size must be less than {0}');
            $("#registerform").validate({
                rules: {
        
                    'email': {
                        required: true,
                        email: true
                    },
                    'otp': {
                        required: true
                    },
                    'password': {
                        required: true,
                        password_regex: true,
                        minlength: 8
                    },
                    'cpassword': {
                        equalTo: '#password'
                    }
                },
        
                messages: {
        
        
                    'email': {
                        required: "This field is required.",
                        email: "Enter valid email ID"
                    },
                    'otp': {
                        required: "This field is required."
                    },
                    'password': {
                        required: "This field is required."
                    },
                    'cpassword': {
                        equalTo: "Enter matching password"
                    },
        
        
                },
                submitHandler: function (form) {
        
                    form.submit();
                }
            });
            $(".verify-btn").click(function () {
                var email = $("#email").val();
                $.ajax({
                   
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "email": email,
                        "action": "send"
        
                    },
                    dataType: "json",
                    success: function (response) {
                        $(".message").prop("hidden", false);
                        // Handle the response from the server
                        console.log(response);
                        if (response["message"]) {
                            $("#email").prop("readonly", true)
                            $("#email").css("border-color", "#7a7a7a")
                            $(".verify-btn").prop("disabled", true)
                            $(".verify-btn").prop("hidden", true)
                            $(".message").prop("hidden", false);
                            $(".message").removeClass("alert-danger")
                            $(".message").addClass("alert-success")
                            $(".message").html(response["message2"])
                            $(".otp-row").prop("hidden", false)
                        }
                        else {
                            $("#email").css("border-color", "red")
                            $(".message").removeClass("alert-success")
                            $(".message").addClass("alert-danger")
                            $(".message").html(response["message2"])
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        // Handle error
                        alert("Sorry something went wrong")
                        //console.log(xhr.status + ": " + xhr.responseText);
                    }
        
                })
            })
            $(".verify-btn1").click(function () {
                var otp = $("#otp").val();
                var email = $("#email").val();
                $.ajax({
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "otp": otp,
                        "action": "otp",
                        "email": email,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response["message"]) {
                            console.log(response)
                            $("#password").prop("hidden", false)
                            $("#cpassword").prop("hidden", false)
                            $(".lst-btn").prop("hidden", false)
                            $("#otp").prop("disabled", true)
                            $(".verify-btn1").prop("hidden", true)
                            $("#otp").css("border-color", "#7a7a7a")
                            $(".message").prop("hidden", false);
                            $(".message").removeClass("alert-danger")
                            $(".message").addClass("alert-success")
                            $(".message").html(response["message2"])
                        } else {
                            console.log(response)
                            $("#otp").css("border-color", "red")
                            $(".message").removeClass("alert-success")
                            $(".message").addClass("alert-danger")
                            $(".message").html(response["message2"])
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        alert("Sorry something went wrong")
                    }
                })
            })

            $('#registerform').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
        
                // Serialize the form data
                var formData = $(this).serialize();
        
                // Send the AJAX request
                $.ajax({
                    type: 'POST',
                    data: formData,
        
                    success: function (response) {
                        // Handle the success response
                        if (response["message"]) {
                            $(".message").prop("hidden", false);
                            $(".message").removeClass("alert-danger")
                            $(".message").addClass("alert-success")
                            $(".message").html(response["message2"] + " Page will be redirected.. to login page in few seconds..")
        
                            setInterval(function () {
                                var baseUrl = "http://" + window.location.hostname + ":" + window.location.port;
                                var dynamicPath = "user/login";
                                var newUrl = new URL(dynamicPath, baseUrl).href;
                                window.location.href = newUrl;
                                // Code to be executed
                                // var currentDomain = window.location.hostname;
                                // var login=currentDomain+":8000/login/"
                                // window.location.replace(login);
                                //history.replaceState(null, '', '');
                                //window.location.href = login;
                            }, 5000);
        
                        } else {
                            $(".message").removeClass("alert-success")
                            $(".message").addClass("alert-danger")
                            $(".message").html(response["message2"])
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                    }
                });
            });
        </script>
       {% endblock %}
